#apartment-sample {

  nav {
    @include flex(row, null, center);
    border-bottom: 0.5px solid rgba(50, 50, 50, .3);
    height:100px;

    .basic-header {
      @include container(80%);
      @include flex(row, space-between, center);

      // INIZIO PRIMO div IMMAGINE
      div:nth-child(1) {

        img {
          height: 80%;
          width: 80%
        }
      } // FINE PRIMO div IMMAGINE

      // INIZIO secondo div (BARRA DI RICERCA)
      div:nth-child(2) {
        @include flex(row, null, null);

        #barra-ricerca {
          @include flex(row, space-between, null);
          width: 400px;
          height: 50px;
          border-radius: 30px;

          a:first-of-type {
            margin-left: 10px;
          }

          a:last-of-type {
            margin-right: 10px;
          }
        }

        span {
          @include flex(row, center, center);
          border: 0.5px solid rgba(50, 50, 50, .3);

          a:last-of-type {
            @include flex(row, center, center);
            background-color: $fuchsia-search;
            color: $white;
            font-size: 20px;
            width: 35px;
            height: 35px;
            border-radius: 100%;
          }
        }

      } // FINE SECONDO div (BARRA DI RICERCA)

      // INIZIO terzo div (quello con omino utente)
      div:nth-child(3) {
        @include flex(row, flex-end, null);

        a {
          @include flex(row, space-evenly, center);
        }

        a:nth-child(1) {
          margin: 15px 30px 0px 0px;
        }

        a:nth-child(2) {
          font-size: 15px;
          background-color: $white;
          width: 90px;
          height: 60px;
          border-radius: 30px;
          border: 1px solid rgba(50, 50, 50, .3);

          // Icona utente (omino)
          i:last-of-type {
            color: $white;
            background-color: $user-gray;
            padding: 10px;
            border-radius: 100%;
          }

        }

      } // FINE terzo div (quello con omino utente)

    } // FINE DI BASIC HEADER (width: 80%)

  } // FINE NAV (100% width per border bottom)

  // ---------------------------------------------------------------------------

  .jumbotron-apartment {
    @include container(80%);

    #jumbo-container {

      .titolo {
        height:60px;
        @include flex(row, null, center);
        text-transform: uppercase;
      }

      .description-apartment {
        width:100%;
        height:60px;
        @include flex(row, null, null);

        div {
          @include flex(row, null, center);
          height: 100%;
        }

        div:first-of-type {
          width: 100%;
          span {
            @include flex(row, flex-end, null);
            width:auto;
          }
        }

      } // FINE DESCRIPTION-APARTMENT

      // QUi ci sono le immagini dell'appartamento
      .apartment-img-container {
        margin: 20px 0px;
        width: 100%;
        height: 500px;
        @include flex(row, null, null);


        div {
          width: 50%;
          height: 100%;
        }

        // IMMAGINE GRANDE
        div:first-of-type {
          @include flex(row, center, center);

          a {
            height: 100%;
            width: calc(100% - 5px);
            margin: 0px 5px 0px 0px;
          }

          .immagine-grande {
            margin-right: 10px;
            border-radius: 20px 0px 0px 20px;
          }

          .immagine-grande:hover {
            opacity: 0.5;
            z-index: 2;
          }
        }

        // 4 immagini
        div:last-of-type {
          @include flex(row, null, null);
          flex-wrap: wrap;

          .immagini-piccole:hover {
            opacity: 0.5;
            z-index: 2;
          }

          div {
            width: 50%;
            height: 50%;
            // debug
            @include flex(row, center, center);
          }

          // (1)
          div:first-of-type {

            a {
              height:calc(100% - 5px);
              width: calc(100% - 5px);
              margin: 0px 5px 5px 0px;
            }
          }

          // (2)
          div:nth-child(2) {

            a {
              width: 100%;
              height:calc(100% - 5px);
              margin: 0px 0px 5px 0px;
            }

            .immagini-piccole {
              border-radius: 0px 20px 0px 0px;
            }
          }

          // (3)
          div:nth-child(3) {

            a {
              width: calc(100% - 5px);
              height: 100%;
              margin: 0px 5px 0px 0px;
            }
          }

          // (4)
          div:last-of-type {

            a {
              height: 100%;
              width: 100%;
            }

            .immagini-piccole {
              border-radius: 0px 0px 20px 0px;
            }
          }


        } // CONTAINER 4 immagini FINISCE QUI

      } // FINE DI .apartment-img-container

      .dettagli-flat {
        width: 100%;
        height: 600px;
        // debug
        background-color: pink;
      }

    } // FINE #jumbo-container

  } // FINE JUMBOTRON-APARTMENT

} // FINE #apartment-sample
