.homepage {

  background-color: black;
  height: 80%;

  section#homepage-test {
    width: 100%;

    @include flex(row, center, center);

    .container {
      background-color: $scottish-blue;
      @include container(80%);
      @include flex(row, center, center);
      height:100px;
    }

  }

  .apartment-samples {
    font-size: 20px;
    @include container(80%);
    @include flex(row, space-between, null);

    li:nth-child(odd) {
      color: $red;
    }

    li:nth-child(even) {
      color: $green;
    }
}

}
