.jumbotron {
  height: 755px;
  // debug
  // background-color: $white;


  section:only-of-type {
    width: 100%;
    @include container(90%);

    ul:first-of-type {
      height: 400px;
      @include flex(column, flex-end, null);
      // debug
      // background-color: $scottish-blue;

      li:nth-child(1) {
        @include flex(row, flex-start, space-envely);

        a {
          margin-top: 5px;
        }

        span {
          @include flex(row, center, center);
          width: 70px;
          height: 40px;
          border-radius: 5px;
          margin-left: 20px;
          font-size: 20px;
          background-color: $black;
          color: $white;
        }
      }
      
      li:nth-child(2) {
        font-size: 30px;
      }

    } // FINE DEL PRIMO UL

    button {
      margin-top: 20px;
      font-weight: bolder;
      width: 150px;
      height: 50px;
      background-color: $black;
      color: $white;
      border-radius: 10px;
      border: none;
    }

  } // FINE DELL'UNICO SECTION FIGLIO DI HOMEPAGE

  .apartment-samples {
    font-size: 20px;
    @include container(90%);
    @include flex(row, space-between, null);

    li:nth-child(odd) {
      color: $red;
    }

    li:nth-child(even) {
      color: $green;
    }
  }

  .bolla{

    background-color: red;
    
  }
}
