.contain-main {
  height: 900px;
  

  section:only-of-type {
    width: 100%;
    @include container(90%);

    ul:first-of-type {
      height: 400px;
      @include flex(column, flex-end, null);

      li:nth-child(1) {
        @include flex(row, flex-start, space-envely);

        a {
          margin-top: 5px;
        }

        span {
          @include flex(row, center, center);
          width: 70px;
          height: 40px;
          border-radius: 5px;
          margin-left: 20px;
          font-size: 20px;
          background-color: $black;
          color: $white;
        }
      }

      li:nth-child(2) {
        font-size: 30px;
      }

    } // FINE DEL PRIMO UL

    button {
      margin-top: 20px;
      font-weight: bolder;
      width: 150px;
      height: 50px;
      background-color: $black;
      color: $white;
      border-radius: 10px;
      border: none;
    }

  } // FINE DELL'UNICO SECTION FIGLIO DI HOMEPAGE

}

.outer-jumbotron{
  margin: 10px auto;
  width: 90%;
  height: auto;
  text-align: center;

  .title-outer-jmb{
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .apartment-samples {
    font-size: 20px;
    @include container(90%);
    @include flex(row, space-between, null);


    li:nth-child(odd) {
      color: $red;
    }

    li:nth-child(even) {
      color: $green;
    }

    .flags{
      width: 220px;
      height: 220px;
      background-color: purple;
      border-radius: 10px;
      display: flex;
      align-items: flex-end;

      a{
        color: white;
        padding: 10px ;
      }
    }
  }

  .section-host{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 40px;


    .host{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: 350px;
      background-image: url(../assets/diventaHost.png);
      background-repeat: no-repeat;
      background-size: cover;
      color:white;
      border-radius: 10px;
      padding: 30px;
      text-align: start;

      .h1-host{
        margin-bottom: 5px;
      }

      .p-host{
        margin: 5px 0;
      }

      .btn-host_hmpages{
        width: 100px;
        height: 30px;
        background-color: #E6007E;
        color: white;
        font-family: "Poppins", sans-serif;
        text-transform:uppercase;
        border: none;
        border-radius: 5px;
        margin-top: 15px;
      }

      .img-host{
        width: 50px;
        height: auto;
      }
    }
  }
}