section#my-apartments {

  padding: 40px 0;

  .container {
    @include container(90%);
  }

  .button-link {

    @extend %venusaur-green-button;

    &:hover {

     background-color: $grovyle-dark-green;
    }
  }

  .wrapper-user-add {
    @include flex(row, space-between, center);
    padding: 20px 0;

    .username {
      color: $venusaur-green;
    }
  }

  .wrapper-apartment {

    @include flex(column, null, null);
    padding: 20px;

    &:nth-child(even) {
      background-color: $aggron-light-gray;
    }

    .apartment-main-infos {
      .infos {
        @include flex(row, null, center);
        & > li {
          margin: 0 5px;
        }
      }
      .apartment-title {
        flex-grow: 1;
        cursor: pointer;
      }

      .apartment-details {
        margin-left: 20px;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .details {
      max-height: 400px;
    }

    .slide-down-enter-active {
      transition: all 1s;
    }

    .slide-down-leave-active {
      transition: all .5s;
    }

    .slide-down-enter, .slide-down-leave-to {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }

    .arrow {
      transform: rotate(0);
      transition: all .5s;
    }

    .rotate {
      transition: all .5s;
      transform: rotate(180deg);
    }

  }

}