.search-page {
  @include flex(row, null, null);
  @include container(90%);
  // debug
  height: 82.3vh;
  > div {
    flex: 1;
  }

  .left-section {
    width: 45%;
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    overflow: auto;
    @include flex(column, null, null);

    .row-with-img-text {
      height: 200px;
      display:flex;
      border-bottom: 1px solid lightgray;

      .sinistra-img {
        @include flex(row, null, center);
        flex-basis: 50%;
        margin: 5px 0px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }

      .destra-testo {
        @include flex(column, null, null);
        flex-basis: 50%;
        margin: 5px 0px 5px 10px;
      }

    }

  } // FINE del contenitore di sinistra

  .right-section {
    width: 55%;
    background-size: cover;

    .map {
      height: 100%;
      width: 100%;
    }

  } // FINE del contenitore di destra

} // FINE SEARCH PAGE
