.search-page {
  height: 100%;
  width: 100%;
  font-size: 25px;

  .upper-section {
    background-color: lime;
    color: navy;
  }

  .lower-section {
    background-color: blue;
    color: lime;
  }
}
