#stats {

    padding: 40px 0;
    
    .container {
        @include container(90%)
    }

    .username {
        color: $venusaur-green;
    }

    .stats-menu {
        @include flex(row, flex-start, center);
        height: 40px;
        width: 100%;
        background-color: $venusaur-green;
        // border-top-left-radius: 5px;
        // border-top-right-radius: 5px;

        & > li {
            padding: 10px;
            cursor: pointer;
            color: $white;
            font-weight: 600;
            height: 100%;
            @include flex(row, center, center);

            // .button-link {
            //     height: 100%;
            // }

            &:hover {
                background-color: $grovyle-dark-green;
            }
        }
    }

    .wrapper-statistics {
        @include flex(row, null, flex-start);

        aside {
            flex-basis: 30%;

            .years-list li:nth-child(odd) {
                background-color: $aggron-light-gray;
            }

        }

        .wrapper-graph {

            flex-basis: 70%;
            @include flex(row, center, center);
        }
    }
}