footer {
  border-bottom: 1px solid rgba(50, 50, 50, .1);
  height: 500px;
  background-color: $footer-gray;
  // CONTAINER FOOTER SECTIONS (85% - 15% HEIGHT)
  .bigger-footer {
    @include container(90%);
    height: 100%;
    // INIZIO FOOTER TOP SECTION (85% HEIGHT)

    .footer-top-section {
      @include flex(row, null, null);
      height: 85%;
      width: 100%;

      // UL NAV LINKS
      .footer-nav-links {
        padding-top: 30px;
        width: calc(100% / 4);
        height: 100%;
        line-height: 200%;
        border-bottom: 1px solid rgba(50, 50, 50, .1);
        & > li a:hover {
          text-decoration: underline;
        }
      }
    }     //INIZIO FOOTER BOTTOM SECTION (15% HEIGHT)
    .footer-bottom-section {
      @include flex(row, null, null);
      height: 15%;
      width: 100%;      // Tutti e due gli UL
      .footer-nav-links {
        @include flex(row, null, center);
        width: calc(100% / 2);
        height: 100%;
      }      // SITE INFOS
      #site-infos {
        li {
          margin-right: 20px;
          & > a:hover {
            text-decoration: underline;
          }
        }
      }
      
      // SOCIAL LINKS
      #social-links {
        @include flex(row, flex-end, center);
        .social {
          font-size: 18px;
          text-decoration: none;
        }
        span {
          text-decoration: underline;
        }
        a:hover {
          opacity: 0.4;
        }
        li {
          margin: 0 15px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  } // END BIGGER FOOTER
} // fine di footer
