footer {
  border-top: 1px solid rgba(50, 50, 50, .1);
  background-color: $footer-gray;

  // CONTAINER FOOTER SECTIONS (85% - 15% HEIGHT)
  .bigger-footer {
    @include container(90%);

    // INIZIO FOOTER TOP SECTION (85% HEIGHT)
    .footer-top-section {
      @include flex(row, null, flex-start);
      width: 100%;
      padding: 40px 0px;
      border-bottom: 1px solid rgba(50, 50, 50, .1);
      padding: 40px 0;

      // UL NAV LINKS
      .footer-nav-links {
        width: calc(100% / 4);
        line-height: 200%;

        h3 {

          font-size: 14px;
          text-transform: uppercase;
        }
  
        & > li a:hover {
          text-decoration: underline;
        }
      }
    }

    //INIZIO FOOTER BOTTOM SECTION (15% HEIGHT)
    .footer-bottom-section {
      @include flex(row, null, center);
      width: 100%;
      padding: 20px 0;

      // Tutti e due gli UL
      .footer-nav-links {
        @include flex(row, null, center);
        height: 100%;

        h3 {
          font-size: 14px;
          text-transform: uppercase;
        }
      }

      // SITE INFOS
      #site-infos {
        flex-grow: 1;

        li {
          margin-right: 20px;

          & > a:hover {

            text-decoration: underline;
          }
        }
      }

      // SOCIAL LINKS
      #social-links {
        @include flex(row, flex-end, center);

        .social {
          font-size: 18px;
          text-decoration: none;
        }

        span {
          text-decoration: underline;
        }

        a:hover {
          opacity: 0.4;
        }

        li {
          margin: 0 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  } // END BIGGER FOOTER
} // fine di footer
