header {
  width: 100%;
  height: 25%;
  background-color: black;
}

.outer-container {
  height: 100%;
  @include container(90%);
}

.bigger-header {
  height: 100%;
  width: 100%;
}

.bigger-header div {
  height: calc(100% / 2);
  @include flex(row, null, null);
}

.bigger-header div:first-of-type {
  background-color: $orange;
  @include flex(row, space-between, null);

  span:first-of-type {
    background-color: $red;
    @include flex(row, center, center);
  }

  span:last-of-type {
    background-color: $green;
    @include flex(row, center, center);
  }
}

.bigger-header div:last-of-type {
  background-color: $yellow;
}
