#header-search {
  height: 170px;
  @include container(90%);

  .top-header-search {
    width: 100%;
    height: 50%;
    @include flex(row, space-between, center);

    .logo {

      a {
        width: 100%;

        img {
          margin-top: 10px;
          height: 100%;
        }

      } // fine A-HREF

    } // fine LOGO

    .filter {
      flex: 1;
      @include flex(row, center, center);

      div {
        margin-right:30px;
        }

        input {
          height: 35px;
          border: 1px solid rgba(50, 50, 50, .3);
          border-radius: 10px;
        }


      }

  }

  .lower-header-search {
    height: 50%;
    @include flex(row, null, center);

    ul {
      width: 100%;
      @include flex(row, space-between, center);

      li {
        padding: 13px 13px;
        border-radius: 30px;
        border: 1px solid rgba(50, 50, 50, 0.3);
      }

      li:hover {
        border: 1px solid black;
      }

    } // FINE UL

  } // fine di lower-header search
  
}// fine di top-header search
