@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  width: 100%;
  height: 200px;
}

.outer-container {
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

.bigger-header {
  height: 100%;
  width: 100%;
}

.bigger-header div {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.bigger-header div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bigger-header div:first-of-type span:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigger-header div:first-of-type span:first-of-type img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
}

.bigger-header div:first-of-type span:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigger-header div:first-of-type span:last-of-type a:first-of-type {
  padding: 10px;
  border-radius: 30px;
}

.bigger-header div:first-of-type span:last-of-type a:first-of-type:hover {
  background-color: #FFF;
}

.bigger-header div:first-of-type span:last-of-type a:nth-child(1) {
  margin-right: 20px;
  font-weight: bolder;
}

.bigger-header div:first-of-type span:last-of-type a:nth-child(2) {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  width: 110px;
  height: 60px;
  border-radius: 30px;
}

.bigger-header div:first-of-type span:last-of-type a:nth-child(2) i:last-of-type {
  color: #FFF;
  background-color: #6c6a6b;
  padding: 10px;
  border-radius: 100%;
}

.bigger-header div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bigger-header div:last-of-type .navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: #FFF;
  border-radius: 50px;
}

.bigger-header div:last-of-type .navbar1 div {
  width: calc(100% / 4);
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bigger-header div:last-of-type .navbar1 div:hover {
  background-color: #ededed;
}

.bigger-header div:last-of-type .navbar1 div:nth-child(2) {
  margin: 0px 5px;
}

.bigger-header div:last-of-type .navbar1 div:nth-child(3) {
  margin-right: 5px;
}

.bigger-header div:last-of-type .navbar1 div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bigger-header div:last-of-type .navbar1 div:last-of-type a:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e80080;
  color: #FFF;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

footer {
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
  border-opacity: 0.7;
  height: 500px;
  background-color: #f7f7f7;
}

footer .bigger-footer {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

footer .bigger-footer div:nth-child(1) {
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 100%;
}

footer .bigger-footer div:nth-child(1) section {
  padding-top: 30px;
  width: calc(100% / 4);
  height: 100%;
  line-height: 200%;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

footer .bigger-footer div:nth-child(1) section li a:hover {
  text-decoration: underline;
}

footer .bigger-footer div:nth-child(2) {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
}

footer .bigger-footer div:nth-child(2) ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% / 2);
  height: 100%;
}

footer .bigger-footer div:nth-child(2) ul:first-of-type li {
  margin-right: 20px;
}

footer .bigger-footer div:nth-child(2) ul:first-of-type li:nth-child(2):hover,
footer .bigger-footer div:nth-child(2) ul:first-of-type li:nth-child(3):hover,
footer .bigger-footer div:nth-child(2) ul:first-of-type li:nth-child(4):hover,
footer .bigger-footer div:nth-child(2) ul:first-of-type li:nth-child(5):hover {
  text-decoration: underline;
}

footer .bigger-footer div:nth-child(2) ul:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .bigger-footer div:nth-child(2) ul:last-of-type li:nth-child(1) p,
footer .bigger-footer div:nth-child(2) ul:last-of-type li:nth-child(2) p {
  display: inline;
  text-decoration: underline;
}

footer .bigger-footer div:nth-child(2) ul:last-of-type li:nth-child(1):hover,
footer .bigger-footer div:nth-child(2) ul:last-of-type li:nth-child(2):hover,
footer .bigger-footer div:nth-child(2) ul:last-of-type .fa-facebook-f:hover,
footer .bigger-footer div:nth-child(2) ul:last-of-type .fa-twitter:hover,
footer .bigger-footer div:nth-child(2) ul:last-of-type .fa-instagram:hover {
  opacity: 0.4;
}

footer .bigger-footer div:nth-child(2) ul:last-of-type li {
  margin-right: 30px;
}

footer .bigger-footer div:nth-child(2) ul:last-of-type li:last-of-type {
  margin: 0;
}

footer .bigger-footer div:nth-child(2) ul:last-of-type .fa-facebook-f,
footer .bigger-footer div:nth-child(2) ul:last-of-type .fa-twitter,
footer .bigger-footer div:nth-child(2) ul:last-of-type .fa-instagram {
  font-size: 18px;
}

.jumbotron {
  height: 755px;
}

.jumbotron section:only-of-type {
  width: 100%;
  margin: 0 auto;
  width: 90%;
}

.jumbotron section:only-of-type ul:first-of-type {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-envely;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(1) a {
  margin-top: 5px;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(1) span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 20px;
  background-color: #000;
  color: #FFF;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(2) {
  font-size: 30px;
}

.jumbotron .apartment-samples {
  font-size: 20px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jumbotron .apartment-samples li:nth-child(odd) {
  color: #e3342f;
}

.jumbotron .apartment-samples li:nth-child(even) {
  color: #38c172;
}

.testDanny {
  background-color: black;
  height: 92vh;
}

.testDanny section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: purple;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#header-and-main {
  background: url(/images/wallpaper.jpg?abdb21d0f378fe9f5f822fbe1d8d9d15) no-repeat;
  background-size: 100vw 100vh;
}

