@import url(https://fonts.googleapis.com/css?family=Nunito);#header-homepage {
  width: 100%;
  height: 200px;
}

.register-header {
  background-color: #000;
  height: 100px;
  color: #FFF;
}

.register-header .container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.register-header .navbar {
  flex-grow: 1;
}

.register-header .navbar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.register-header .navbar .nav-links > li > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-header .navbar .nav-links > li > ul > li {
  margin: 0 5px;
}

.register-header .navbar .button-link {
  display: inline-block;
  background-color: #12a19a;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
}

.outer-container {
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

.bigger-header {
  height: 100%;
  width: 100%;
}

.bigger-header div {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.bigger-header div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bigger-header div:first-of-type span:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigger-header div:first-of-type span:first-of-type img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
}

.bigger-header div:first-of-type span:last-of-type {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigger-header div:first-of-type span:last-of-type a:first-of-type {
  padding: 10px;
  border-radius: 30px;
}

.bigger-header div:first-of-type span:last-of-type a:first-of-type:hover {
  background-color: #FFF;
}

.bigger-header div:first-of-type span:last-of-type a:nth-child(1) {
  margin-right: 20px;
  font-weight: bolder;
}

.bigger-header div:first-of-type span:last-of-type a:nth-child(2) {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  width: 110px;
  height: 60px;
  border-radius: 30px;
}

.bigger-header div:first-of-type span:last-of-type a:nth-child(2) i:last-of-type {
  color: #FFF;
  background-color: #6c6a6b;
  padding: 10px;
  border-radius: 100%;
}

.bigger-header div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bigger-header div:last-of-type .navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80px;
  background-color: #FFF;
  border-radius: 50px;
}

.bigger-header div:last-of-type .navbar1 div {
  width: calc(100% / 4);
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bigger-header div:last-of-type .navbar1 div:hover {
  background-color: #ededed;
}

.bigger-header div:last-of-type .navbar1 div:nth-child(2) {
  margin: 0px 5px;
}

.bigger-header div:last-of-type .navbar1 div:nth-child(3) {
  margin-right: 5px;
}

.bigger-header div:last-of-type .navbar1 div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bigger-header div:last-of-type .navbar1 div:last-of-type a:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e80080;
  color: #FFF;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.bigger-header div:last-of-type .navbar1 div:last-of-type a:last-of-type:hover {
  background-color: #e8005d;
}

footer {
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
  height: 500px;
  background-color: #f7f7f7;
}

footer .bigger-footer {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

footer .bigger-footer .footer-top-section {
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 100%;
}

footer .bigger-footer .footer-top-section .footer-nav-links {
  padding-top: 30px;
  width: calc(100% / 4);
  height: 100%;
  line-height: 200%;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

footer .bigger-footer .footer-top-section .footer-nav-links > li a:hover {
  text-decoration: underline;
}

footer .bigger-footer .footer-bottom-section {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
}

footer .bigger-footer .footer-bottom-section .footer-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% / 2);
  height: 100%;
}

footer .bigger-footer .footer-bottom-section #site-infos li {
  margin-right: 20px;
}

footer .bigger-footer .footer-bottom-section #site-infos li > a:hover {
  text-decoration: underline;
}

footer .bigger-footer .footer-bottom-section #social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .bigger-footer .footer-bottom-section #social-links .social {
  font-size: 18px;
  text-decoration: none;
}

footer .bigger-footer .footer-bottom-section #social-links span {
  text-decoration: underline;
}

footer .bigger-footer .footer-bottom-section #social-links a:hover {
  opacity: 0.4;
}

footer .bigger-footer .footer-bottom-section #social-links li {
  margin: 0 15px;
}

footer .bigger-footer .footer-bottom-section #social-links li:last-child {
  margin-right: 0;
}

#header-search {
  height: 170px;
  margin: 0 auto;
  width: 97%;
}

#header-search div {
  height: 50%;
  width: 100%;
}

#header-search .top-header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-search .top-header-search div {
  width: calc(100% / 3);
}

#header-search .top-header-search div:nth-child(1) img {
  height: 150%;
  width: 25%;
}

#header-search .top-header-search div:nth-child(2) {
  display: flex;
  flex-direction: row;
  height: 45px;
}

#header-search .top-header-search div:nth-child(2) span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

#header-search .top-header-search div:nth-child(2) span:first-of-type {
  border-radius: 50px 0 0 50px;
  border: 0.5px solid rgba(50, 50, 50, 0.3);
}

#header-search .top-header-search div:nth-child(2) span:nth-child(2) {
  border-top: 0.5px solid rgba(50, 50, 50, 0.3);
  border-bottom: 0.5px solid rgba(50, 50, 50, 0.3);
}

#header-search .top-header-search div:nth-child(2) span:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 50px 50px 0;
  border: 0.5px solid rgba(50, 50, 50, 0.3);
}

#header-search .top-header-search div:nth-child(2) span:last-of-type a:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e80080;
  color: #FFF;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

#header-search .top-header-search div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header-search .top-header-search div:nth-child(3) a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#header-search .top-header-search div:nth-child(3) a:nth-child(1) {
  margin: 15px 30px 0px 0px;
}

#header-search .top-header-search div:nth-child(3) a:nth-child(2) {
  font-size: 15px;
  background-color: #FFF;
  width: 90px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(50, 50, 50, 0.3);
}

#header-search .top-header-search div:nth-child(3) a:nth-child(2) i:last-of-type {
  color: #FFF;
  background-color: #6c6a6b;
  padding: 10px;
  border-radius: 100%;
}

#header-search .lower-header-search {
  display: flex;
  flex-direction: row;
}

#header-search .lower-header-search ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-search .lower-header-search ul li {
  padding: 13px 13px;
  border-radius: 30px;
  border: 1px solid rgba(50, 50, 50, 0.3);
}

#header-search .lower-header-search ul li:hover {
  border: 1px solid black;
}

.jumbotron {
  height: 755px;
}

.jumbotron section:only-of-type {
  width: 100%;
  margin: 0 auto;
  width: 90%;
}

.jumbotron section:only-of-type ul:first-of-type {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-envely;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(1) a {
  margin-top: 5px;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(1) span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 20px;
  background-color: #000;
  color: #FFF;
}

.jumbotron section:only-of-type ul:first-of-type li:nth-child(2) {
  font-size: 30px;
}

.jumbotron section:only-of-type button {
  margin-top: 20px;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #FFF;
  border-radius: 10px;
  border: none;
}

.apartment-samples {
  font-size: 20px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apartment-samples li:nth-child(odd) {
  color: #e3342f;
}

.apartment-samples li:nth-child(even) {
  color: #38c172;
}

.apartment-samples .flags {
  width: 250px;
  height: 250px;
  background-color: purple;
  border-radius: 10px;
}

.apartment-samples .flags a {
  color: white;
}

.host {
  width: 800px;
  height: 300px;
  background-color: purple;
  border-radius: 10px;
}

.testDanny {
  background-color: black;
  height: 92vh;
}

.testDanny section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: purple;
}

section#register-jumbotron {
  background-color: #000;
  color: #FFF;
}

section#register-jumbotron .jumbotron {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section#register-jumbotron .jumbotron .wrapper-text {
  color: #FFF;
  flex-basis: 60%;
  padding: 0 50px;
}

section#register-jumbotron .jumbotron .wrapper-text h2 {
  font-size: 60px;
}

section#register-jumbotron .jumbotron div#app {
  flex-basis: 40%;
}

section#register-jumbotron .jumbotron div#app .carousel {
  height: 350px;
  margin: 0 50px;
}

section#register-jumbotron .jumbotron div#app .carousel .wrapper-images {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

section#register-jumbotron .jumbotron div#app .carousel .wrapper-images .slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

section#register-jumbotron .jumbotron div#app .slide-left-enter-active,
section#register-jumbotron .jumbotron div#app .slide-left-leave-active {
  transition: all 2s;
}

section#register-jumbotron .jumbotron div#app .slide-left-enter {
  transform: translateX(100%);
}

section#register-jumbotron .jumbotron div#app .slide-left-leave-to {
  transform: translate(-100%);
}

section#section-register {
  margin: 50px 0;
}

section#section-register .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#section-register form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#section-register form .form-wrapper-fields {
  margin: 5px;
}

section#section-register form label {
  display: inline-block;
  width: 200px;
}

section#section-register form input {
  background-color: #ededed;
  padding: 5px 10px;
  border: 0;
  border-radius: 20px;
}

section#section-register form input:focus {
  outline: 0;
}

section#section-register form .form-button {
  background-color: #12a19a;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  color: #FFF;
  font-weight: 600;
}

.search-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 82.3vh;
}

.search-page .left-section {
  width: 45%;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  overflow: auto;
}

.search-page .left-section div:first-of-type {
  height: 100%;
  margin: 0 auto;
  width: 95%;
}

.search-page .left-section div:first-of-type ul {
  margin-top: 30px;
  line-height: 200%;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.search-page .left-section div:first-of-type ul #scopri-di-piu {
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.search-page .left-section div:first-of-type ul #scopri-di-piu a:last-of-type {
  text-decoration: underline;
}

.search-page .left-section div:first-of-type figure {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.search-page .left-section div:first-of-type figure div {
  height: 200px;
}

.search-page .left-section div:first-of-type figure div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.search-page .left-section div:first-of-type figure div:first-of-type span {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-page .left-section div:first-of-type figure div:first-of-type #immagine-bordo {
  border: 1px solid black;
}

.search-page .left-section div:first-of-type figure div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.search-page .left-section div:first-of-type figure div:last-of-type span {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span {
  height: calc(100% / 5);
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:first-of-type div:first-of-type {
  width: 90%;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:first-of-type div:first-of-type a {
  align-self: flex-start;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:first-of-type div:last-of-type {
  width: 10%;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:first-of-type div:last-of-type a {
  align-self: flex-end;
  font-size: 25px;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(2) a {
  align-self: flex-start;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(3) a {
  align-self: flex-start;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(4) a {
  align-self: flex-start;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(5) {
  display: flex;
  flex-direction: row;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(5) #div1-span5 {
  width: 60%;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(5) #div1-span5 a {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(5) #div2-span5 {
  width: 40%;
  align-self: flex-start;
}

.search-page .left-section div:first-of-type figure div:last-of-type span div span:nth-child(5) #div2-span5 p:first-of-type {
  text-decoration: line-through;
}

.search-page .right-section {
  width: 55%;
  background: url(/images/calabria-test.jpg?4f3f0566f0a670a66cec42ff3b36ae0f) no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#header-and-main {
  background: url(/images/wallpaper.jpg) no-repeat;
  background-size: 100vw 100vh;
}

