// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFF;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$scottish-blue: #0065bd;
$lighter-black: #121212;
$user-gray: #6c6a6b;
$navbar1-gray: #ededed;
$fuchsia-search: #e80080;
$darker-fuchsia-search: #e8005d;

$venusaur-green: #12a19a;
$aggron-light-gray: #ededed;
// footer
$footer-gray: #f7f7f7;
